server:
  port: 5000
  servlet:
    encoding:
      charset: UTF-8
      force: true

spring:
  datasource:
    url: jdbc:mariadb://${rds.hostname}:${rds.port}/${rds.db.name}?allowPublicKeyRetrieval=true&useSSL=false
    driver-class-name: org.mariadb.jdbc.Driver
    username: ${rds.username}
    password: ${rds.password}
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      default_batch_fetch_size: 100 # in query 자동 작성
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
  output:
    ansi:
      enabled: always
  security:
    user:
      name: ssar
      password: 1234
cloud:
  aws:
    credentials:
      access-key: ${S3_ACCESS_KEY}
      secret-key: ${S3_SECRET_KEY}
    s3:
      bucket: groupbuying
    region:
      static: ap-northeast-2
    stack:
      auto: false

logging:
  level:
    '[shop.donutmarket.donut]': DEBUG # DEBUG 레벨부터 에러 확인할 수 있게 설정하기
    '[org.hibernate.orm.jdbc.bind]': TRACE # 콘솔 쿼리에 ? 에 주입된 값 보기

meta:
  name: ${HS512_SECRET} # _대신 .을 쓸 수도 있다.

sentry:
  dsn: ${SENTRY}
  traces-sample-rate: 1.0
  logging:
    minimum-event-level: info

boot-pay:
  rest-api-key: ${REST_API_KEY}
  private-key: ${PRIVATE_KEY}




